version: '3.9'

services:
  db:
    image: mysql:latest
    env_file:
      - .env
    ports:
      - "${DB_PORT:-3310}:3306"
    environment:
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
      - MYSQL_DATABASE=${MYSQL_DATABASE}
